In [2]:
import pandas as pd
df = pd.read_csv("heights.csv")
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

<h3 style='color:purple'>Detect outliers using IQR<h3>

In [3]:
Q1 = df.height.quantile(0.25)
Q3 = df.height.quantile(0.75)
Q1, Q3

(5.3500000000000005, 6.275)

In [4]:
IQR = Q3 - Q1
IQR

0.9249999999999998

In [6]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(3.962500000000001, 7.6625)

In [7]:
df[(df.height < lower_limit) | (df.height > upper_limit)]

     name  height
0   mohan     1.2
1   maria     2.3
17  aamir    14.5
18    ken    23.2
19    Liu    40.2

In [8]:
df_no_outlier = df[(df.height > lower_limit) & (df.height < upper_limit)]
df_no_outlier.describe()

         height
count  15.00000
mean    5.76000
std     0.56921
min     4.90000
25%     5.45000
50%     5.60000
75%     6.05000
max     7.10000